.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
}

.main-head-name {
  /* text-align: center; */
  color: green;
  font-size: 36px;
  font-style: italic;
}

.profile-img {
  border-radius: 10px;
}

.form-to-contact {
  padding-top: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;


  &__input {
    // flex-grow: 1;
    width: 60%;
  }

  // &__inpput-label {}

  .container-input {
    display: flex;
    // gap: 10px;
    justify-content: space-between;

    &--message {
      flex-direction: column;
    }

  }

  &__ta {
    margin-bottom: 10px;
  }

  &__button {
    width: 30%;
  }

}